.section.improve-skill-section{
    .col.image{
        img{
            width: 100%;
        }
    }
    .col.typography{
        padding-left: 1em;
        .improve{
            border-left: .2em solid var(--primary-color);
            padding: .1em 0 .1em 1em;
            color: var(--text-light);
            font-weight: bold;
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.2s) SlideFromRight ease-in-out forwards;
            @for $i from 2 through 7 {
                &:nth-child(#{$i}){
                    animation-delay: #{$i * .15}s;
                }
            }
        }
        .btn{
            margin-top: .75em;
            padding-inline: 2em;
        }
    }
}   